aiogoogle==4.2.0
aiosqlite==0.17.0
alembic==1.7.7
fastapi==0.78.0
fastapi-users[sqlalchemy]==10.0.4
flake8==4.0.1
lock==2018.3.25.2110
mixer==7.2.2
pytest-asyncio==0.23.4
pytest-freezegun==0.4.2
pytest-lazy-fixture==0.6.3
pytest-pythonpath==0.7.3
requests==2.27.1
toml==0.10.2
uvicorn[standard]==0.17.6